---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>Hey there!</p>
		<p>
			I'm Elias Watson, a passionate programmer and technology enthusiast, currently residing in
			Greenville, SC, USA. I have a bachelor's degree in computer science from Bob Jones University
			with a minor in math.
		</p>
		<p>
			As a follower of Jesus, I strive to integrate my faith with my love for technology and
			science. My main interests lie in game development and computer graphics, but I have a wide
			range of passions.
		</p>
		<p>
			I am programming-language-agnostic and pride myself on quickly picking up new languages and
			frameworks. Here are some of the technologies I have experience with:
		</p>
		<ul class="list-inside list-disc" role="list">
			<li>Python</li>
			<li>TypeScript & JavaScript</li>
			<li>C & C++</li>
			<li>Rust</li>
			<li>Lua</li>
			<li>Java</li>
			<li>Lisp</li>
		</ul>
		<p>
			I also enjoy experimenting with more obscure programming languages like Elm, Odin, FORTH,
			Smalltalk, APL, and more.
		</p>
		<p>Feel free to connect with me or check out my projects!</p>
		<hr />
		<p class="italic">
			Any opinions I express are solely my own and are not representative of my past, present, or
			future employers.
		</p>
	</div>
</PageLayout>
